

.home { 
  position: relative; 
  width: 100%; /* for IE 6 */

}



.home-info h1, .home-info h2, .home-info h3 { 
  position: absolute; 
  left: 0; 
  width: 100%; 
  padding: 1rem;
  font-weight: bold; 
  letter-spacing: 2px;  
}

.home-info h1 { 
  top: 5px; 
  font-size: 2rem;
  color: white;
  opacity: 0;
  transition: 0.5s ease;
  
  }

  .home-info h1:hover { 
  opacity: 1;
  
    }


.home-info h2 { 
  top: 80px; 
   color: #FF1616;
   font-size: 1.5rem;
}


.home-info h3{
  top: 130px; 
  font-size: 1rem;
  color: white;
}

/* MEDIA QUERIES */
@media(min-width: 600px){
  .home-info h1 { 
    top: 40px; 
    font-size: 2rem;
   
    }
  
  .home-info h2 { 
    top: 120px; 
     font-size: 1.5rem;
  }
  
  
  .home-info h3{
    top: 190px; 
    font-size: 1rem;

  }
  
}

@media(min-width: 800px){
  .home-info h1 { 
    top: 90px; 
    font-size: 2rem;
   
    }
  
  .home-info h2 { 
    top: 200px; 
     font-size: 1.5rem;
  }
  
  
  .home-info h3{
    top: 300px; 
    font-size: 1rem;

  }
  
}

@media(min-width: 1000px){
  .home-info h1 { 
    top: 120px; 
    font-size: 3rem;
   
    }
  
  .home-info h2 { 
    top: 300px; 
     font-size: 2.5rem;
  }
  
  
  .home-info h3{
    top: 500px; 
    font-size: 1.5rem;

  }
  
}